<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apdoer.manager.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="org.apdoer.manager.model.pojo.BizUserPo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="enabled" jdbcType="INTEGER" property="enabled"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin"/>
        <result column="google_code" jdbcType="VARCHAR" property="googleCode"/>
        <result column="trade_password" jdbcType="VARCHAR" property="tradePassword"/>
        <result column="login_pass_grade" jdbcType="INTEGER" property="loginPassGrade"/>
        <result column="google_validate" jdbcType="INTEGER" property="googleValidate"/>
    </resultMap>

    <resultMap id="roleMap" type="org.apdoer.manager.model.pojo.RolePo">
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <id column="name" jdbcType="VARCHAR" property="name"/>
        <id column="role_desc" jdbcType="VARCHAR" property="roleDesc"/>
        <id column="enabled" jdbcType="INTEGER" property="enabled"/>
        <id column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>


    <select id="queryRolesByUserId" resultType="java.lang.Integer">
        SELECT
            b.role_id
        FROM
            biz_user a
            LEFT JOIN biz_user_role b ON a.id = b.user_id
            LEFT JOIN biz_role c on b.role_id=c.role_id
        WHERE
            a.id = #{userId}
            AND a.`enabled` =1
            AND b.`enabled` =1
            and c.`enabled`=1
    </select>
    <select id="queryPermsByRoleId" resultType="java.lang.String">
         SELECT
            b.`VALUE`
        FROM
            biz_role_permission a
            LEFT JOIN biz_permission b ON a.perm_id = b.perm_id
        WHERE
            a.role_id = #{roleId}
            AND a.enabled = 1
            AND b.enabled =1
    </select>
    <select id="queryRoleposByUserId" resultMap="roleMap">
        SELECT
            c.role_id,
            c.`name`,
            c.`role_desc`,
            c.`enabled`,
            c.`create_time`
        FROM
            biz_user a
            LEFT JOIN biz_user_role b ON a.id = b.user_id
            LEFT JOIN biz_role c on b.role_id=c.role_id
        WHERE
            a.id = #{userId}
            AND a.`enabled` =1
            AND b.`enabled` =1
            and c.`enabled`=1
    </select>
    <insert id="insertAndSelectKey" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO biz_user ( username, PASSWORD, avatar, email, phone, google_code, create_time, enabled )
        VALUES(#{username},#{password},
            #{avatar},
        #{email},
            #{phone},
        #{googleCode},now(),1)
    </insert>


</mapper>